@import url('bootstrap.css');
@import url(fonts/thsarabunnew.css); 
body { 
  font-family: 'THSarabunNew', sans-serif; 
} 
.b {
  font-weight: bold;
}
th{
  font-weight: 100;
  font-size: 13;
  padding: 0.5em 1em;
}
td{
  font-weight: 100;
  font-size: 12;
  text-align: center;
  padding: 0.1em 0em;
}
caption{
  font-weight: 100;
  font-size: 13;
}
.map{
  width: 90%;
  height: 80%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-style: solid;
  border-width: 1px;
}
.box{
    width: 15px;
    height: 15px;
    background: #fff;
    border-style: solid;
    border-width: 1px;
}
.logo{
  background: no-repeat;
  width: 90px;
  height: 90px;
  margin-left: 2em;
}
.title{
	margin-left: 4em;
	margin-top: 2em;
	text-align: center;
}
.underline{
	text-decoration: underline;
}
.pictureBox{
	margin-left: -1em;
	width: 90px;
    height: 100px;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    font-size: 0.9em;
    text-align: center;
}
.pageNumber{
	text-align: center;
  line-height: 85%;
}

p.small {

    font-size: 14;
    line-height: 96%;
}


 #printable { display: none; }

@media print{
  section {page-break-after: always;}
  #non-printable { display: none; }
  #printable { display: block; }
   div{
        page-break-inside: avoid;
    }
  .b{ font-weight: bold; font-style: normal; }
  .i{ font-weight: normal; font-style: italic; }
  .bi{ font-weight: bold; font-style: italic; }
}
